# THIS FILE IS PLACED HERE BY LEO. ITS ROLE IS TO EXCLUDE CERTAIN
# FILES FROM THE REPOSITORY. FOR EXAMPLE, .CLASS FILES NEED NOT BE
# COMMITTED TO THE REPOSITORY, AS THEY ARE EASILY OBTAINABLE BY
# COMPILING A JAVA FILE.

# Compiled class file
*.class

# Log file
*.log